body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: #676767;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: ;
  font-size: ;
  line-height: ;
  color: ;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
}

.nav {
}
.head-menu-1 {
}
.head-menu-item {
}
.head-menu-link {
}
.logo-link {
}
.logo-icon {
}
.head-menu-2 {
}
.head-login-btn {
}

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}

/*  */

/*  */

/*  */
