body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color: #676767;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding-top: 21px;
  padding-bottom: 21px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-menu-1 {
  display: flex;
  gap: 50px;
}
.head-menu-item {
  font-size: 14px;
  color: #191619;
}
.head-menu-link {
}
.logo-link {
}
.logo-icon {
}
.head-m-2-wrap {
  display: flex;
  align-items: center;
  gap: 50px;
}
.head-menu-2 {
  display: flex;
  gap: 50px;
}
.head-login-btn {
  font-weight: 700;
  font-size: 14px;
  color: #0cbbc7;
  border: 1px solid #0cbbc7;
  padding: 10px 50px;
  width: 138px;
  height: 38px;
  background-color: transparent;
}

/* HERO */

.hero {
  padding-top: 50px;
  padding-bottom: 86px;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: #191619;
  margin-bottom: 20px;
  max-width: 779px;
  text-align: center;
}
.hero-text {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  margin-bottom: 30px;
  max-width: 447px;
  text-align: center;
}
.hero-btn {
  display: flex;
  font-weight: 700;

  letter-spacing: 0.01em;
  color: #fff;
  padding: 14px 20px;
  width: 188px;
  height: 48px;
  background-color: #0cbbc7;
  border: none;
  margin-bottom: 56px;
}
.hero-btn-icon {
  margin-left: 10px;
}
.hero-img {
}

/* FEATURES */

.features {
  padding-top: 86px;
  padding-bottom: 100px;
}

.feat-title {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #0cbbc7;
  margin-bottom: 17px;
}
.feat-subtitle {
  font-size: 28px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}
.feat-subtitle-span {
  font-weight: 700;
}
.feat-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 53px;
}
.feat-item {
}
.feat-icon {
}
/* .ul-content-wrap {
  display: flex;
} */

.feat-list-2 {
  display: flex;
  gap: 34px;
  justify-content: center;
}

.feat-2-img {
  margin-right: 10px;
}

.feat-list-2-wrap {
  display: flex;
}

.feat-item-2 {
  /* max-width: 180px; */
}

.ul-wrap {
  /* display: flex; */
}

.feat-icon-check {
  fill: #0cbbc7;
  stroke-width: 0.2px;
  stroke: #016359;
}
.feat-text {
}
.feat-text-span {
}

/* PROMISE */

.promise {
  padding-top: 48px;
  padding-bottom: 100px;
}

.prom-container {
  padding-left: 248px;
  padding-right: 210px;
}

.border-top {
  padding-bottom: 48px;
}

.promise-wrap {
  display: flex;
  margin-right: 42px;
  justify-content: space-between;
  align-items: center;
}
.prom-text-wrap {
  display: flex;
  flex-direction: column;
}
.promise-title {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;
  color: #0cbbc7;
  margin-bottom: 16px;
  margin-left: 10px;
}
.promise-subtitle {
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}

.prom-span {
  font-weight: 700;
}

.promise-text {
  line-height: 1.625;
  color: #676767;
  margin-bottom: 20px;
  max-width: 365px;
}
.promise-btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 14px 20px;
  width: 167px;
  height: 48px;
  background-color: #0cbbc7;
  border: none;
}
.promise-img {
}

.border-bottom {
  padding-top: 100px;
}

/* AWARDS  */

.awards {
  padding-bottom: 100px;
}

.award-title {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #0cbbc7;
  margin-bottom: 16px;
}
.award-subtitle {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #000;
  margin-bottom: 60px;
}
.award-span {
  font-weight: 700;
}

.award-list {
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 50px; */
  column-gap: 60px;
  row-gap: 50px;
  justify-content: center;
}
.award-item {
  width: calc((100% - 96px) / 4);
  border-radius: 6px;
  border: 1px solid none;
}

.one {
  background-color: #fff5f3;
}

.two {
  background-color: #fff0f9;
}

.three {
  background-color: #ecffff;
}

.four {
  background-color: #f6f4ff;
}

.five {
  background-color: #fff9e7;
}

.six {
  background-color: #ffede4;
}

.award-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 47px;
}
.award-img {
  margin-bottom: 10px;
}
.award-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #000;
  max-width: 171px;
}

.a-w {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  /* margin-bottom: 100px; */
}

.award-border-bottom {
  padding-top: 100px;
  margin-left: 50px;
}

/* CREATE */

.create {
  padding-bottom: 162px;
}

.create-title {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #0cbbc7;
  margin-bottom: 16px;
}
.create-subtitle {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.award-span {
  font-weight: 400;
}

.create-icon-list {
  display: flex;
  gap: 145px;
  justify-content: center;
  margin-bottom: 50px;
}
.create-icon-item {
}
.create-icon {
}

.current {
  position: relative;

  color: #404bbf;
  padding-bottom: 20px;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -76px;
  border-radius: 2px;
  background-color: #0cbbc7;
  width: 236px;
  height: 3px;
}

.create-content-wrap {
  display: flex;
  justify-content: center;
  gap: 125px;
  background-color: #edfeff;
  padding-bottom: 62px;
  padding-top: 50px;
}
.create-text-wrap {
}

.create-subtitle-2 {
  font-weight: 600;
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}

.create-sub-sub {
  font-weight: 700;

  line-height: 1.62;
  color: #000;
  margin-bottom: 10px;
}
.create-text {
  line-height: 1.62;
  color: #676767;
  max-width: 359px;
  margin-bottom: 30px;
}
.create-btn {
  padding: 14px 20px;
  min-width: 193px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  background-color: #0cbbc7;
  border: none;
}
.create-img {
}

/* TESTIMONIALS */

.testimonials {
  padding-bottom: 100px;
}

.test-video-wrap {
  display: flex;
  gap: 74px;
  margin-left: 82px;
}

.test-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.test-title {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #0cbbc7;
  padding-bottom: 16px;
}
.test-subtitle {
  font-weight: 400;
  font-size: 28px;
  color: #000;
  max-width: 219px;
  margin-bottom: 40px;
}

.test-span {
  font-weight: 700;
}

.test-case-btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  width: 154px;
  height: 38px;
  background-color: #0cbbc7;
  border: none;
}
.test-video {
  position: relative;
  max-width: 358px;
}
.test-play-btn {
  position: absolute;
  /* left: 49.5%; */
  transform: translate(630%, -330%);
  border: none;
  background-color: transparent;
}
.test-play-img {
}
.pay-pal-wrap {
  position: absolute;
  /* left: 66.5%; */
  transform: translate(187%, -100%);
  background-color: #edfeff;
  border: 1px solid transparent;
  width: 358px;
  height: 239px;
}
.pay-pal-img {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  flex-shrink: 0;
}
.pay-pal-text {
  line-height: 1.62;
  color: #676767;
  margin-bottom: 20px;
  max-width: 296px;
  padding-left: 20px;
}
.pay-pal-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #333;
  padding-left: 20px;
}
.pay-pal-job {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #333;
  padding-left: 20px;
}

.test-btn-wrap {
  position: absolute;
  /* left: 66.5%; */
  transform: translate(1850%, -1720%);
}

.test-right-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  flex-shrink: 0;
  padding: 0;
  margin-left: 10px;
}
.right-icon {
  flex-shrink: 0;
}
.test-left-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  flex-shrink: 0;
  padding: 0;
}
.left-icon {
  flex-shrink: 0;
}

.test-border-bottom {
  padding-top: 100px;
}

/* CONSULTATION */

.consultation {
  padding-bottom: 100px;
}

.consult-content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.consult-text-wrap {
}
.consult-title {
  font-weight: 400;
  font-size: 28px;
  color: #000;
  margin-bottom: 15px;
  max-width: 286px;
}
.consult-span {
  font-weight: 700;
}
.consult-text {
  line-height: 1.62;
  color: #676767;
  margin-bottom: 33px;
  max-width: 359px;
}
.link-btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  width: 117px;
  height: 38px;
  background-color: #0cbbc7;
}
.consult-btn {
  margin-left: 20px;
  border: 1px solid #0cbbc7;
  padding: 10px 20px;
  min-width: 203px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  color: #0cbbc7;
  background-color: transparent;
}
.consult-img {
  margin-right: 60px;
}

/* RESOURSES */

.resourses {
  padding-bottom: 100px;
}

.res-title {
  font-weight: 700;
  font-size: 8px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #0cbbc7;
  margin-bottom: 16px;
}
.res-subtitle {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}
.res-span {
  font-weight: 400;
}
.res-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.res-item {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 359px;
  height: 533px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
}
.res-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
  /* padding-bottom: 40px; */
}
.res-img {
  margin-bottom: 25px;
}
.res-sub-sub {
  font-weight: 700;
  max-width: 280px;

  line-height: 1.62;
  color: #000;
  margin-bottom: 11px;
}
.res-text {
  margin-bottom: 25px;
  max-width: 280px;
}
.res-link-btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  width: 114px;
  height: 38px;
  background-color: #0cbbc7;
  margin-right: auto;
  margin-left: 35px;
}

.res-text-2 {
  max-width: 280px;
  margin-bottom: 47px;
}

/* .res-list li:nth-child(2) .res-text,
.res-list li:nth-child(3) .res-text {
  margin-bottom: 20px;
} */

/* FOOTER */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #232323;
}

.ftr-container {
  max-width: 1110px;
}

.ftr-content-wrap {
  display: flex;
  justify-content: space-between;
}

.ftr-img-wrap {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.ftr-img-1 {
  position: relative;
}
.ftr-img-2 {
  position: absolute;
  transform: translate(-20%, -50%);
}
.ftr-menu-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 22px;
}
.ftr-prod-list {
  margin-top: 30px;
}
.ftr-item {
  font-weight: 500;

  line-height: 2.86;
  color: #7c7c7c;
}
.item-link {
}

.ftr-res-list {
  margin-top: 22px;
  padding-bottom: 80px;
}

.ftr-comp-list {
  margin-top: 22px;
}

.border-wrap {
  display: flex;
  justify-content: center;
}

.ftr-border-bottom {
  margin-bottom: 40px;
  max-width: unset;
}

.copyright-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding-right: 138px;
  padding-left: 150px;
  margin: 0 auto;
}

.copyright-link {
  font-weight: 500;
  font-size: 12px;
  color: #9b9b9b;
  margin-right: auto;
}
.soc-list {
  display: flex;
  gap: 20px;
  padding-right: 94px;
}
.soc-item {
}
.soc-link {
}
.soc-icon {
}
.policy-list {
  display: flex;
  gap: 14px;
  /* margin-right: 80px; */
}
.policy-item {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #9b9b9b;
  border-right: 1px solid #9b9b9b;
  height: 10px;
  padding-right: 14px;
}

.policy-item:last-child {
  border-right: none;
}

.policy-link {
}
